/* Fuentes */

@font-face {
   font-family: "La_Cithare";
   src: url("./fonts/La_Cithare.eot");
   src: url("./fonts/La_Cithare.eot#amoLa_Cithare") format("embedded-opentype"),
        url("./fonts/La_Cithare.woff") format("woff"),
        url("./fonts/La_Cithare.ttf") format("truetype");
}

@font-face {
   font-family: "moon";
   src: url("./fonts/moon.woff");
   src: url("./fonts/moon.woff") format("woff"),
  		url("./fonts/moon.woff2") format("woff2"),
        url("./fonts/moon.ttf") format("truetype");
}

@font-face {
   font-family: "Angelica";
   src: url("./fonts/Angelica.woff");
   src:	url("./fonts/Angelica.woff") format("woff"),
        url("./fonts/Angelica.woff2") format("woff2");
}

@font-face {
   font-family: "Gaelle";
   src: url("./fonts/Gaelle.woff");
   src:	url("./fonts/Gaelle.woff") format("woff"),
        url("./fonts/Gaelle.woff2") format("woff2");
}

/* Fuentes */

/* Head */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

nav ul {
	margin: 0;
	padding-left: 0;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	font-family: "La_Cithare";
}

nav ul li {
	display: inline-block;
	margin-left: 55px;
}

nav ul li a {
	text-transform: initial;
	color: white;
	text-decoration: none;
	font-size: 30px;
}

/* Head */

/* Body */

.imagen-1 img {
transition: all 0.2s ease-in;
}

.imagen-1 h2 {
background: transparent;
margin: 20px 40px 0px 40px;
transform: translate(200px, -200px);
transition: all 0.3s ease-in-out;
}

.imagen-1 p {
transform: translate(-200px, 200px);
}

.imagen-1:hover h2 {
transform: translate(0px,0px);
transition-delay: 0.3s;
}

.imagen-1:hover p {
transform: translate(0px,0px);
transition-delay: 0.4s;
}

.section1 {
	text-align: center;
	color: #000;
}

.section1 h2 {
	font-family: "moon";
	font-size: 50px;
	color: #000;
	margin: 0;
	padding-top: 60px;
}

.section1 p {
	font-family: "moon";
	font-size: 25px;
	padding-bottom: 50px;
}

.page {
	width: 100%;
	height: 100vh;
	position: relative;
	display: table;
}	

.center-box {
	display: table-cell;
	vertical-align: middle;
}

h2 {
	text-align: center;
	font-size: 130px;
	font-family: "La_Cithare";
	color: #fff;
}

.fondo{
	background-image: url(./imagenes/captura.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

div.contenido {
	padding-top: 50px;
	padding-left: 500px;
	text-align: center;
}

p {
	padding-right: 80px;
	padding-left: 80px;
}

.lacarta {
	text-decoration: underline;
}

ul {
	list-style: none;
}

/* Footer */

footer {
	background-color: #e3e3e3;
	font-family: "Gaelle";
	font-size: 14px;
}

.footer {
	list-style: none;
	text-align: center;
}

.footer ul {
	list-style: none;
	display: inline-flex;
	padding: 0;
}

.footer ul li{
	padding-left: 25px;
}

.logos {
	text-align: center;
}

.logos a img {
	padding-left: 15px;
	padding-bottom: 10px;
	width: 32px;
	height: 32px;
}

/* Footer */

.contenedor-img {
    width: 100%;
    height: 349px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
}

.contenedor-img .mascara,.contenedor-img .contenido {
    width: 50%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.contenedor-img img {
    position: relative;
    width: 80%;

}

.contenedor-img h2 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 60px;
    padding: 10px;
   	margin: 20px 0 0 0;
   	font-family: "moon";
}