/* Fuentes */

@font-face {
   font-family: "La_Cithare";
   src: url("./fonts/La_Cithare.eot");
   src: url("./fonts/La_Cithare.eot#amoLa_Cithare") format("embedded-opentype"),
        url("./fonts/La_Cithare.woff") format("woff"),
        url("./fonts/La_Cithare.ttf") format("truetype");
}

@font-face {
   font-family: "moon";
   src: url("./fonts/moon.woff");
   src: url("./fonts/moon.woff") format("woff"),
  		url("./fonts/moon.woff2") format("woff2"),
        url("./fonts/moon.ttf") format("truetype");
}

@font-face {
   font-family: "Angelica";
   src: url("./fonts/Angelica.woff");
   src:	url("./fonts/Angelica.woff") format("woff"),
        url("./fonts/Angelica.woff2") format("woff2");
}

@font-face {
   font-family: "Gaelle";
   src: url("./fonts/Gaelle.woff");
   src:	url("./fonts/Gaelle.woff") format("woff"),
        url("./fonts/Gaelle.woff2") format("woff2");
}

/* Fuentes */

/* Head */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

nav ul {
	margin: 0;
	padding-left: 0;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	font-family: "La_Cithare";
}

nav ul li {
	display: inline-block;
	margin-left: 55px;
}

nav ul li a {
	text-transform: initial;
	color: white;
	text-decoration: none;
	font-size: 30px;
}

.contacto {
	text-decoration: underline;
}

/* Head */

/* Body */

main {
	padding-bottom: 50px;
}

.page {
	width: 100%;
	height: 100vh;
	position: relative;
	display: table;
}	

.center-box {
	display: table-cell;
	vertical-align: middle;
}

h2 {
	text-align: center;
	font-size: 130px;
	font-family: "La_Cithare";
	color: #fff;
}

.fondo{
	background-image: url(./imagenes/captura.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

div.contenido {
	display: inline-flex;
	padding-top: 80px;
	padding-left: 180px;
	padding-right: 180px;
	text-align: center;
}

p {
	padding-right: 80px;
	padding-left: 80px;
}

form{
	width: 40%;
	margin:30px auto 0 auto;
}

.row-form input, .row-form textarea,
.row-form label{
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.row-form label{
	color: black;
	text-decoration: none;
}

textarea{
	resize: none;
	height: 70px;
}

label{
	font-size: 18px;
	text-align: left;
}

form .row-form{
	margin-bottom: 10px;
}

input, textarea{
	border: 1px solid #D8D8D8;
	transition: border-bottom 1s linear;
	-webkit-transition: border-bottom 1s linear;
	-moz-transition: border-bottom 1s linear;
	-o-transition: border-bottom 1s linear;
	-ms-transition: border-bottom 1s linear;
}

input{
	margin-bottom: 35px;
}

input::-webkit-input-placeholder{
	color: #888484;
}

.row-form label{
	margin-bottom: 10px;
}

.row-form textarea{
	resize: none;
}

.row-form input,
.row-form textarea{
	padding: 8px;
	outline: none;
	border-radius: 5px;
	font-family: 'arial'
}

.row-form input, .row-form textarea, 
.row-form label {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

form button {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;

	border: 2px solid #196692;
    background: white;
    padding: 7px 15px;
    display: block;
    color: black;
}

h3{
	text-align: center;
	font-size: 70px;
	font-family: "La_Cithare";
	margin-bottom: 0;
}

ul {
	padding-top: 15px;
	list-style: none;
}

/* Body */

/* Footer */

footer {
	background-color: #e3e3e3;
	font-family: "Gaelle";
	font-size: 14px;
}

.footer {
	list-style: none;
	text-align: center;
}

.footer ul {
	list-style: none;
	display: inline-flex;
	padding: 0;
}

.footer ul li{
	padding-left: 25px;
}

.logos {
	text-align: center;
}

.logos a img {
	padding-left: 15px;
	padding-bottom: 10px;
	width: 32px;
	height: 32px;
}

/* Footer */