/* Fuentes */

@font-face {
   font-family: "La_Cithare";
   src: url("./fonts/La_Cithare.eot");
   src: url("./fonts/La_Cithare.eot#amoLa_Cithare") format("embedded-opentype"),
        url("./fonts/La_Cithare.woff") format("woff"),
        url("./fonts/La_Cithare.ttf") format("truetype");
}

@font-face {
   font-family: "moon";
   src: url("./fonts/moon.woff");
   src: url("./fonts/moon.woff") format("woff"),
  		url("./fonts/moon.woff2") format("woff2"),
        url("./fonts/moon.ttf") format("truetype");
}

@font-face {
   font-family: "Angelica";
   src: url("./fonts/Angelica.woff");
   src:	url("./fonts/Angelica.woff") format("woff"),
        url("./fonts/Angelica.woff2") format("woff2");
}

@font-face {
   font-family: "Gaelle";
   src: url("./fonts/Gaelle.woff");
   src:	url("./fonts/Gaelle.woff") format("woff"),
        url("./fonts/Gaelle.woff2") format("woff2");
}

/* Fuentes */

/* Head */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

nav ul {
	margin: 0;
	padding-left: 0;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	font-family: "La_Cithare";
}

nav ul li {
	display: inline-block;
	margin-left: 55px;
}

nav ul li a {
	text-transform: initial;
	color: white;
	text-decoration: none;
	font-size: 30px;
}

.home {
	text-decoration: underline;
}

/* Head */

/* Body */

.page {
	width: 100%;
	height: 100vh;
	position: relative;
	display: table;
}	

.center-box {
	display: table-cell;
	vertical-align: middle;
}

h2 {
	text-align: center;
	font-size: 130px;
	font-family: "La_Cithare";
	color: #fff;
}

.fondo{
	background-image: url(./imagenes/captura.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

div.contenido {
	padding-top: 45px;
	padding-left: 180px;
	padding-bottom: 100px;
	padding-right: 180px;
	text-align: center;
}

.contenido p {
	margin: 0;
}

.contenido h3 {
	margin: 0;
	font-size: 28px;
	text-align: center;
	font-family: "moon"
}

p {
	font-family: "moon";
	font-size: 28px;
	text-align: center;
	padding-bottom: 25px;
	margin-top: 0;
}

.empezo{
	font-family: "La_Cithare";
	text-align: center;
	font-size: 50px;
	color: black;
	margin-top: 20px;
	margin-bottom: 0;
	padding-top: 80px;
}

.section2 {
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(./imagenes/section2-2.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
}

.section2 h2 {
	font-size: 80px;
	color: white;
	margin: 0;
}

.section2 p {
	margin: 0;
	text-align: center;
	padding-left: 180px;
	padding-right: 180px;
	color: white;
}

.section3 {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.section3 h2 {
	color: black;
	margin: 0;
	padding-bottom: 30px;
	font-size: 70px;
}

.section3 p {
	padding-left: 180px;
	padding-right: 180px;
}

.section3 h3 {
	text-align: center;
	font-family: "moon";
	margin: 0;
	font-size: 28px;
}

/* Body */

/* Footer */

footer {
	background-color: #e3e3e3;
	font-family: "Gaelle";
	font-size: 14px;
}

.footer {
	list-style: none;
	text-align: center;
}

.footer ul {
	list-style: none;
	display: inline-flex;
	padding: 0;
}

.footer ul li{
	padding-left: 25px;
}

.logos {
	text-align: center;
}

.logos a img {
	padding-left: 15px;
	padding-bottom: 10px;
	width: 32px;
	height: 32px;
}

/* Footer */